@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #000;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .page-header{
    min-height: 65px;
  }
    /* Шапка */
    .navigation {
      display: flex;
      
      margin: 0 auto;
      
    }

    .navigation-list{
      display: flex;
      width: 400px;
      margin: 0;
      padding: 0;
    }

  .navigation-link{
      display: block;
      flex-wrap: wrap; 
      padding: 20px 17px;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      text-decoration: none;
      
      color:#000;
  }
  .navigation-user .navigation-link {
    min-width: 42px;
    
  }

  .button-navigation{
    font-size: 16px;
    line-height: 20px;
    background-color: #756257;
    color:#fff;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 9px 15px 8px 15px;
  }

  .navigation-list{
    margin-left: 70px;
    padding: 0;
    width: 640px;
    list-style-type: none;
  }

  .navigation-user {
    max-width: 280px;
    margin-left: auto;
  }
  .navigation-logo {
    width: 140px;
    margin-right: 30px;
  }
  .page-header-logo{
    margin-left: 70px;
    
  }
  


    /* Основное содержание */
    .main-container {
      flex-grow: 1;
      
      }

    .welcome{
      background-image: url("../images/background-index.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 485px;
      
    }
  .main-index{
      background-color: #fff;
      color: #000;
  }
  .description{
   padding-top: 30px;
  }
  .main-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: -5px;
    text-transform: uppercase;
  }
  .main-title-2{
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center; 
    margin-bottom: 93px;
  }
  .page-container {
    width: 1200px;
    margin: 0 auto;
  }
  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 25px;
  }
  
  .advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

  .advantages-description {
    margin: 0;
  } 
  .advantages-description-1{
  margin-bottom: 25px;
  }

  .advantages-item{
    width: 400px;
    text-align: center;
    padding: 89px;
    box-sizing: border-box;
    

  }
  .advantages-photo{
    width: 800px;
  }

  .advantages-title{
    text-transform: uppercase;
  }
  .text-item-1{
      background-color: #83B3D3;
      color: #fff;
  }
  .text-item-2{
      background-color: rgba(131, 179, 211, 0.12);
      }

  .text-item-3{
      background-color: rgba(131, 179, 211, 0.2);
  }

  .interest{
      text-align: center;
      margin-bottom: 120px;
  }

  .interest h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding-top:65px;
  }

  .interest h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .field{
    width:575px;
    
  }
  .button-search{
    background: #756257;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px;
    width: 575px;
    display: inline-block;
    
  }
  .subscription{
      text-align: center;
  } 
  .subscription-title-1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding-top: 90px;
    margin-bottom: 15px;
    margin: 0;
  }
  .subscription-title-2{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-top: 10px;
    margin-bottom: 25px;
  }
  .main-subscription{
    background-image: url("../images/background-subscription.jpg");
    background-size: 100% auto;
    color:#fff;
    width: 1200px;
    height: 411px;
    
  }
  .newsletter-button{
    font-size: 20px;
    line-height: 24px;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    color:#fff;
    display: inline-block;
    width: 200px;
    height: 60px;
  }
         /* Подвал */
  .social-list{
    display: flex;
    width: 400px;
    justify-content: space-between;
  }

  .footer-contacts{
    display: flex;
   justify-content: space-between;
   padding-left: 72px;
   padding-right: 50px;
         }
  .footer-contacts-address-phone{
    display:inline-block;
    width: 720px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color:#000;
  }

  .footer-social-list{
    margin: 0;
    padding: 0;
    width: 110px;
    list-style-type: none;
  }
  .footer-social-item{
    width: 25px;
    height: 25px;
    display: inline-block;
  }
  
  .footer-social-item:nth-child(3n) {
    margin-right: 0;
  
  }
  .about-text{
    display:inline-block;
   max-width: 120px;
   margin-left: auto;
  }

  /* каталог*/

  .catalog-hotels{
      display: flex;
      flex-wrap: wrap;
      background-image: url("../images/background-catalog.jpg");
      background-size: 100% auto;
      color:#fff;
      background-repeat: no-repeat;
      height: 408px;
      padding-left: 72px;
      box-sizing: border-box;
  }

  .catalog-filter-group-container{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-right: 50px;
  }

  
  .catalog-hotels h1{
    
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding-top: 35px;
    
    
  }

   .breadcrumbs{
     display: flex;
     width: 100%;
     margin: 0;
     padding: 0; 
     list-style-type: none;
  }

  .breadcrumbs-link{
    font-size: 16px;
    line-height: 21px;
  }

  .catalog-filter-list{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .catalog-filter-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  .catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
  }

  .button-filter{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #83B3D3;
    color:#fff;
    border-radius: 4px;
    display: inline-block;
    width: 160px;
    height: 48px;
  }
  .search-hotels{
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-top: 40px;
    padding-right: 70px;
    margin-bottom: 40px;
  }

  .choose-hotels h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }
  .find-hotels-title{
   margin: 0;
   display: inline-block;
   width: 400px;
  }

  .hotel-list{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .hotel-card{
    width: 340px;
    height: 438px;
    margin-right: 10px;
    padding-top: 10px;
  }

  .hotel-card-title{
    margin: 0;
    margin-bottom: 5px;
  }

  .hotel-paragraph{
    margin: 0;
    margin-bottom: 10px;
  }

  .hotel-card-image{
    margin-bottom: 25px;
  }

  .hotel-card-link{
    display: inline-block;
  }

  .hotel-card:first-child{
    margin-left: 72px;
  }
  .hotel-card:nth-child(4){
    margin-left: 72px;
  }


  .hotel-card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color:#000;
    text-decoration: none;
  }

  .hotel-card-link{
    color:#000;
    text-decoration: none;
  }

  .hotel-card-button{
    font-size: 16px;
    line-height: 21px;
    padding-top: 9px;
    padding-bottom: 10px;
    display: inline-block;
    width: 141px;
    text-align: center;
     }
    
  .button-detailed{
    background: #756257;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    }
    .button-favourites{
    background: #83B3D3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    }
    .button-favourites-on{
     background: #7DB54F;
     color: #fff;
     text-decoration: none;
     border-radius: 4px;
    }
.upload{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 17px;
    display: inline-block;
    width: 620px;
    }
    .upload-conteiner{
   text-align: center;
   padding-top: 70px;
   margin-bottom: 65px;
    }
    .choosing{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
    }

.choose-pages{
  display: flex;
  list-style-type: none;
}
.number-page{
  width: 55px;
  height: 55px;
}
.number-page:first-child{
  margin-left: 35px;
}
.numbers{
    background: #83B3D3;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}
.numbers-on{
    background:#F2F2F2;
    color: #000;

}

.subscription-catalog{
  margin-bottom: 70px;
}

.subscription-catalog-title-1{
  margin: 0;
  margin-bottom: 45px;
}

.subscription-catalog-title-2{
  margin: 0;
  margin-bottom: 50px;
}


/* Стили кнопок*/
.button-navigation:hover{
  background-color: #615048;
}
.button-navigation:active{
  background-color: #615048;
}

.button-search:hover{
  background-color: #615048;
}


.newsletter-button:hover{
  background-color: #68A2CA;
}
